<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Movies" verbose="1">
    <test name="Star wars Api test" group-by-instances="true">
        <classes>
<!--            <class name="com.apiAutomationTest.Tests.TestPeople"/>-->
<!--            <class name="com.apiAutomationTest.Tests.TestMovie"/>-->
<!--            <class name="com.apiAutomationTest.Tests.TestPlanet"/>-->
            <class name="com.apiAutomationTest.Tests.TestValidatePlanet"/>
        </classes>
    </test>
</suite>